.fixed-div{
	position: fixed;
	top: 1em;
	right: 1em;
}

.log-in-section {
	background-color: cadetblue;
	width: 200px;
	height: 220px;
	border: 3px ridge dimgrey;
	text-align: center;
	border-radius: 25px;
}

.log-in-section:after{
	opacity: 0.5;
}

.profile-img {
	padding-top: 10px;
}