.fixed-div{
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 1;
}

.fixed-form{
	position: fixed;
}

.alert{
	width: 80%;
	margin-left: 30px;
}

.fixed{
	position: fixed;
	z-index: 1;
}

.top-search{
	 background-color: #99ceff ;
	 height:50px;
	 width: 90%;
	 border:3px ridge dimgrey;
	 text-align: center;
 }

.top-results{
	background-color: #99ceff;
	width: 90%;
	border:3px ridge dimgrey;
	text-align: center;
}

.log-in-section {
	background-color: #99ceff;
	width: 200px;
	height: 270px;
	border: 3px ridge dimgrey;
	text-align: center;

	border-radius: 25px;
}

.logged-in {
	background-color: #99ceff;
	width: 175px;
	height: 190px;
	border: 3px ridge dimgray;
	text-align: center;
	z-index: -1; position:relative;
	border-radius: 25px;
}

.log-in-section:after{
	opacity: 0.5;
}

.top-buffer{
	margin-top:10px;
}

.comments{
	border-radius: 25px;
}

.profile-pic{
	border-radius:50%;
	left: 10px;
}

.jumbotron-custom{
	padding-top: 10px;
}

div.inline {float:left;}
.clearBoth {clear:both;}

.custom_background{
	background-image: url("../Images/Background/textures.png");
}


.profile-img {
	border-radius: 50%;
	margin-top: 10px;
}
