<!--Working on the log in panel-->
<div class="fixed-div animated bounceInDown">
	<form name="loginForm" ng-class="parking.loggedIn ? 'form-signin logged-in container' : 'form-signin log-in-section container' " ng-submit="loginForm.$valid && (parking.loggedIn ? parking.signOut() : parking.authenticate(userName, password))">
		<img class="profile-img" ng-src="{{parking.userProfile.profilepic}}"/>
		<div ng-hide="parking.loggedIn">
			<h4 class="form-signin-heading">Please sign in</h4>
			<label for="inputEmail" class="sr-only">Username...</label>
			<input type="text" id="inputUser" class="form-control" placeholder="Username..." ng-model="userName" autofocus required>
			<label for="inputPass" class="sr-only">Password</label>
			<input type="password" id="inputPass" class="form-control" placeholder="Password" required ng-model="password"></label>
			<button class="btn btn-sm btn-primary btn-block" type="submit" >Sign in</button>
			<button class="btn btn-sm btn-primary btn-block" type="submit" >Create Account</button>
		</div>
		<div ng-show="parking.loggedIn">
			<h4 class="form-signin-heading">Welcome {{parking.userProfile.user}}!</h4>
			<button class="btn btn-sm btn-primary btn-block" type="submit">Sign out</button>
		</div>
	</form>
</div>

<section class="container" ng-controller="FormController as checkCtrl" ng-init="parking.init()">
	<div class="text-center">
		<h2>
		Last marking was <div class="text-danger">{{parking.lastCheckIn.time}}</div>
		<cite class="clearfix"><i>{{parking.lastCheckIn.status}} - {{parking.lastCheckIn.user}}</i></cite>
		</h2>
	</div>
	<div class="container pull-right">
		<ul>
			<li ng-repeat="comment in parking.lastCheckIn.comments" class="comments bg-info animated bounceInLeft top-buffer">
				<div class="row">
					<img ng-src="{{comment.userProfile.profilepic}}" class="profile-pic col-xs-1"/>
					<blockquote class="col-xs-6">
						{{comment.text}}
						<cite class="clearfix"><strong>{{comment.userProfile.user}} @ {{comment.time}}</strong></cite>
					</blockquote>
				</div>
			</li>
			<br/>
		</ul>
	</div>
	
	
		<div class="page-header"><h2>Comment</h2></div>
		<form name="reviewForm"" ng-submit="checkCtrl.addComment(parking.lastCheckIn, parking.userProfile); parking.postComment()">
			<h4>Hi {{parking.userProfile.user}}</h4>
			<fieldset class="form-group">
				<textarea ng-model="checkCtrl.comment" class="form-control" placeholder="Do you something to add?" title="Comment"></textarea>
			</fieldset>	
			<fieldset class="form-group">
				<input type="submit" class="btn btn-primary pull-right" value="Submit Comment"/>
			</fieldset>
		</form>


		<div class="page-header"><h2>Check-in</h2></div>
		<form name="reviewForm"" ng-submit="checkCtrl.updateCheck(parking.lastCheckIn, parking.userProfile.user); parking.postUpdate()">
			<fieldset class="form-group">
				<textarea ng-model="checkCtrl.checkUp.status" class="form-control" placeholder="Did you see the parking man?  Who lives on drury lane?" title="Comment"></textarea>
			</fieldset>	
			<fieldset class="form-group">
				<input type="submit" class="btn btn-primary pull-right" value="Submit Check-In" ng-click="showConfirm($event)"/>
			</fieldset>
		</form>
</section>	