<!-- for use with custom directive in searchApp.js namely "searchApp" directive-->

<section ng-controller="searchController" class="animated bounceInLeft pull-left fixed" xmlns="http://www.w3.org/1999/html">
        <!-- top of the navigation bar -->
        <!-- checkboxes and search bar below will be fixed at the top of the browser -->
        <form>
                <select title="SearchOptions" class="form-group top-left-search" ng-options="option.name for option in searchOptions.validOptions track by option.id"
                        ng-model="searchOptions.chosenOption">
                </select>
        </form>
         <form class="form-group">
               <input class="form-group top-left-search" type="text" name="Search" title="Search" placeholder="The internet is your oyster" ng-model="searchOptions.searchData"/>
             </br>
                 <input class="form-group top-left-search" type="submit" name="to-search" value="Search!" ng-click="showResults()" onsubmit="showResults()"/>
         </form>
     <!-- only shows what search results were chosen in the form -->
    <!-- Doesn't actually search, just displays headers FOR NOW if -->
    <div ng-show="googleSelected" class="top-left-results">
        <h4>Search Results From Google For: {{searchOptions.searchData}}</h4>
        <ul>
            <li ng-show="((result | filter: searchOptions.searchData).length != 0" ng-repeat="result in foundSearchData">Last check in Comment: {{" " +foundSearchData}}</li>
        </ul>
    </div>

    <div ng-show="devwikiSelected" class="top-left-results">
        <h4>Search Results From Dev Wiki For: {{searchOptions.searchData}}</h4>
        <ul>
            <li ng-show="((result | filter: searchOptions.searchData).length != 0" ng-repeat="result in foundSearchData">Last check in Comment: {{" " +foundSearchData}}</li>
        </ul>
    </div>
    <div ng-show="parkingOMaticSelected">
        <h4 class="top-left-results">Search Results For: {{searchOptions.searchData}}</h4>
        <div class="top-left-results">
            <ul>
                <li ng-show="((comment | filter: searchOptions.searchData).length != 0" ng-repeat="comment in foundSearchData.comments.text">Last check in Comment: {{" " +foundSearchData.comments.text}}</li>
                <li ng-show="((comment | filter: searchOptions.searchData).length != 0" ng-repeat="comment in foundSearchData.comments.user">Last check in Comment: {{" " +foundSearchData.comments.user}}</li>
            </ul>
        </div>
    </div>
</section>